
.ed-img{
    width: 100%;
    height:550px;
    object-fit: cover;
}

.top-navbar{
    position: relative;
}

.top-section {   
    position: relative;
  }
  
.text-block {
    font-family: 'Original Surfer', cursive; 
    position: absolute;
    color: white;
    margin-top: 50px;
    margin-left: 50px;
  }

.bn{
    font-size: 50px;
}

.c1{
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}

.ci1{
    background-image:url(./blog_imgs/bg2.jpg);
}

.ci2{
    background-image: url('./blog_imgs/new.jpg');
}

.ci3{
    background-image: url('./blog_imgs/bg3.jpg');
}

h1{
    font-family: 'Original Surfer', cursive;  
    color: white;
    font-size: 50px;
}

.btn{
    margin: 40px;
}

.card{
    width: 20rem;
}

.container{
   box-shadow: 20px 20px 50px #1d1c1c, 
    -20px -20px 60px #464444;
}

.row{
    padding: 20px;
}

h4{
    font-family: 'Prompt', sans-serif;   
}

button{
    font-family: 'Righteous', cursive;
}

.py-5{
    background-image: url(./blog_imgs/bgf.jpg);
}

/*@media screen and (max-width:720px) {

    .ed-img{
        display: none;
    }
    .text-block{
        display: none;
    }
}*/

a{
    font-family: 'Righteous', cursive;
    font-size: 22px;
}

.nav-item , .navbar-right{
    margin: 15px;
}