
  body{
    color: hsla(0,0%,100%,.9);
    background-color: #24272c;
}
img{
    height:300;
    width:250;
}
#first{
    text-align: center;
}
#hie{
    margin-top: 8px;
}
#more-info,#pg{
    text-align: center;
}
.my-row{
    display: inline-block;
    padding: 4px;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom:20px;
    border-color:aliceblue;
    border: 1px solid whitesmoke;
    text-align: center;
    color:white;
    max-width:max-content;

}
#learn{
    color: black;
}