/**************
    Version: 1.0
/************** */




@media (min-width: 768px) and (max-width: 991px) {
	
	.stat-wrap{
		text-align: center !important; 
	}
	.body.host_version .stat-wrap  .alignleft{
		float: none;
		margin: 0 auto;
	}
	.body.host_version .stat-wrap h3{
		margin-bottom: 12px;
	}
		
	.stat-wrap {
		text-align: center !important;
	}
	.alignleft{
		float: none;
	}
	
}
@media (max-width: 767px) {
	
	
	
	.section-title h3{
		font-size: 28px;
	}
	
	
	
	
	
	.body.host_version .stat-wrap p{
		font-size: 28px;
		clear: both;
	}
	.body.host_version .stat-wrap h3{
		margin-bottom: 20px;
	}
	
	.section{
		padding: 40px 0;
	}
	
	.body.host_version .stat-wrap .alignleft{
		margin-right: auto;
	}
	
	
	.stat-wrap {
		text-align: center !important;
	}
	.alignleft{
		float: none;
	}
	.text-block {
		position: relative;
		margin-top: 1.3em;
		margin-left: 3em;
	}
	
}

@media only screen and (min-width: 280px) and (max-width: 599px) {
	
	.section-title p{
		font-size: 14px;
		line-height: 24px;
	}
	
	.section-title h3{
		font-size: 28px;
	}
	
	
	
	
	.body.host_version .stat-wrap p{
		font-size: 28px;
	}
	
	.section{
		padding: 40px 0;
	}
	
	.logos img{
		max-width: 120px;
	}
	
	.text-block {
		position: relative;
		margin-top: 1.3em;
		margin-left: 3em;
	}
	
}


